* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

textarea {
  border: 0;
}

ul {
  list-style: none;
}

.max {
  width: 100%;
  height: 100%;
}

.max-w {
  width: 100%;
}

.max-h {
  height: 100%;
}

.flex {
  display: flex;
}

.auto {
  flex: 1 1 auto;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 260px auto;
  grid-template-rows: 50px auto;
  grid-template-areas:
    'l o'
    'l m';
}

#list {
  grid-area: l;
}

#opts {
  grid-area: o;
}

#main {
  grid-area: m;
}

#toggle ~ #input { display: none; }
#toggle ~ #preview { display: block; }

#toggle:checked ~ #input { display: block; }
#toggle:checked ~ #preview { display: none; }

a.active {
  font-weight: bold;
}
