* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #DFDBE5;
  background-image: url(shape.svg);
  font-family: Helvetica, Arial;
  font-size: 90%;
}

textarea {
  border: 0;
}

ul {
  list-style: none;
}

.pad {
  padding: 10px;
}

.max {
  width: 100%;
  height: 100%;
}

.max-w {
  width: 100%;
}

.max-h {
  height: 100%;
}

.flex {
  display: flex;
}

.auto {
  flex: 1 1 auto;
}

.center {
  align-items: center;
  justify-content: center;
}

.top {
  align-items: top;
}

.group {
  border: 1px solid silver;
  border-radius: 5px;
}

.group + .group {
  margin-left: 10px;
}

.toolbar {
  background-color: #FFF;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
  'l'
  'm'
  'o'
  ;
}

@media screen and (min-width: 720px) {
  #app {
    grid-template-columns: auto;
    grid-template-rows: 50px auto;
    grid-template-areas:
      'l o'
      'm m'
      ;
  }
}

#list {
  grid-area: l;
}

#opts {
  grid-area: o;
}

#main {
  border-top: 1px solid #C1B0CB;
  border-bottom: 1px solid #C1B0CB;
  grid-area: m;
  overflow: auto;
}

@media screen and (min-width: 720px) {
  #main {
    border-bottom: 0;
  }
}

#main > iframe,
#main > fieldset {
  box-shadow: 0 1px 3px rgb(0, 0, 0, .5);
}

#toggle ~ #input { display: none; }
#toggle ~ #preview { display: flex; }

#toggle:checked ~ #input { display: flex; }
#toggle:checked ~ #preview { display: none; }

#list select {
  margin-left: 10px;
}

#list h1 {
  font-size: 1.3em;
  margin-right: 1em;
  display: inline-block;
  border: 1px dashed silver;
}

a {
  color: silver;
  text-decoration: none;
}

#opts a {
  padding: 0 10px;
  line-height: 2;
  position: relative;
}

#opts a + a::before,
#opts input + button::before {
  height: 100%;
  left: 0;
  top: 0;
  content: '';
  position: absolute;
  border-left: 1px solid silver;
}

input, button, select, textarea {
  font-family: Helvetica, Arial;
  background: transparent;
  position: relative;
  padding: 5px;
  border: none;
}

select {
  background: transparent;
  border-radius: 5px;
  padding: 5px;
}

button {
  padding: 0 10px;
}

a.active {
  color: gray;
}

#input {
  min-width: 400px;
}

#input {
  border: 0;
}

#input li {
  margin-bottom: 10px;
}

#input li:last-child {
  margin-bottom: 0;
}

#input li + li {
  padding-top: 10px;
  border-top: 1px solid #C1B0CB;
}

#input label {
  display: block;
}

#input textarea {
  width: 100%;
}
