Section(background-color='gray')
  Column
    Text(color='silver') {{COMPANY_NAME}}
Section(background-url="{{IMG_BANNER}}" background-size='cover' background-repeat='no-repeat')
  Column
    Text(align='center' color='gray' font-size='40px') {{COMPANY_SLOGAN}}
    Button(href='{{TOP_LINK}}') {{TOP_ACTION}}
