extend _layout

block body
  Section
    Column
      Text(color='gray' font-size='22px') {{MAIN_SUBJECT}}
      Text(color='silver') {{MAIN_MESSAGE}}
      Button(href='{{MAIN_LINK}}') {{MAIN_ACTION}}

  Section
    {{#with IS_ENABLED}}
    Column(width='100%')
      Text {{ITS_VALUE}}
    {{/with}}
    {{#unless IS_ENABLED}}
    Column(width='100%')
      Text.highlight IT IS OK :)
    {{/unless}}
    {{#each DATASET}}
      Column: Text {{KEY}}: {{VALUE}}
    {{/each}}
